/* Registration Page Styling */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f3f4f6;
  margin-top: 55px;
}

.registration-container {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 700px;
 
  background-color: #ffffff;
}


h2 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #333;
  margin-bottom: 25px;
  text-align: center;
}

.form-label {
  font-size: 16px;
  color: #555;
}

.form-control {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

button {
  padding: 12px;
  background-color: #e3f5ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e3f5ff;
}

.submit-button {
  background-color: #97c3d4;
}

.reset-button {
  background-color: #97c3d4;
  margin-top: 1px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 90px; /* Adds space between buttons */
}
